@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200&display=swap');

*{
    font-family: 'Mukta', Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    /* UNIDADE VH -> Altura do viewport*/
    /* Estou deixando o Body definir um valor mínimo de altura com base na altura total do viewport*/
}

/* Váriaveis Globais*/

a{
    color: inherit;
    text-decoration: inherit;
}
:root{
    --background-clean: beige;
    --cor-da-empresa: #F68C29;
}

/* Estilização do Header*/

/* Estilização do 1º UL*/

.cabecalho{
    width: 100%;
    background-color: var(--cor-da-empresa);
}

main{
    flex: 1;
}

.menu{
    font-size: large;
    display: flex;
}

.menu .ul-menu{
    display: flex;
    align-items: center;
    font-weight: 800;
}

.ul-menu li{
    list-style: none;
    padding: 2rem;
    padding-top: 1px;
    padding-bottom: 1px;
}

/* Estilização do 2º UL*/

.menu .ul-login{
    display: flex;
    list-style: none;
    align-items: center;
    background-color: rgba(0, 0, 0, .25);
    margin-left: auto;
    font-weight: 800;
}

.ul-login li{
    padding: 1rem;
    padding-top: 1px;
    padding-bottom: 1px;
}

.ul-login .NavLogin{
    padding-top: 20px;
    padding-bottom: 20px;
}

.bi-person-circle{
    font-size: 40px;
}

/* Estilização do Footer*/

.rodape{
    width: 100%;
    background-color: var(--cor-da-empresa);   
}

.footer-content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-content ul{
    display: flex;
    list-style: none;
}

.footer-content li{
    font-size: 20px;
    padding-left: 10px;
    padding-right: 10px;
}
